streamlit~=1.44.1
pandas~=2.2.2
requests~=2.32.3
numpy~=1.25.2
scikit-learn~=1.6.1
fastapi~=0.115.12
uvicorn
plotly~=6.0.1
joblib~=1.4.2
pydantic~=2.11.3
PyMySQL~=1.1.1
DBUtils~=3.1.0
statsmodels~=0.14.0
kaleido~=0.2.1